In [2]:
# 01. 1로 만들기

x = int(input())

d = [0] * 30001

for i in range(2, x+1):
  d[i] = d[i-1] + 1

  if i % 2 == 0:
    d[i] = min(d[i], d[i//2]+1)

  if i % 3 == 0:
    d[i] = min(d[i], d[i//3]+1)

  if i % 5 == 0:
    d[i] = min(d[i], d[i//5]+1)

print(d[x])

26
3

In [3]:
n = int(input())

food = list(map(int,input().split()))

d = [0] * 100

d[0] = food[0]
d[1] = max(food[0],food[1])

for i in range(2,n):
  d[i] = max(d[i-1],d[i-2]+food[i])

print(d[n-1])

4
1 3 1 5
8

In [4]:
n = int(input())


d = [0] * 1001

d[1] = 1
d[2] = 3
for i in range(3,n+1):
  d[i] = (d[i-1] + 2 * d[i-2] % 796796)

print(d[n])

3
5

In [6]:
n,m = map(int,input().split())

array = []
for i in range(n):
  array.append(int(input()))

d = [10001] * (m+1)

d[0] = 0
for i in range(n):
  for j in range(array[i], m+1):
    if d[j-array[i]] != 10001:
      d[j] = min(d[j], d[j-array[i]]+1)

if d[m] == 1001:
  print(-1)
else:
  print(d[m])

2 15
2
3
5