In [3]:
# 01 위에서 아래로

N = int(input())
number=[]
for i in range(N):
  number.append(int(input()))

print(sorted(number,reverse=True))

3
27
15
12
[27, 15, 12]

In [7]:
# 02 성적이 낮은 순서로 학생 출력하기

N = int(input())
students = []

for i in range(N):
  students.append(input().split())

students = sorted(students,key = lambda x : int(x[1]))

for student in students:
  print(student[0], end=' ')

2
홍길동 95
이순신 77
이순신 홍길동

In [10]:
# 03 두 배열의 원소 교체

N, K = map(int,input().split())

A = list(map(int,input().split()))
B = list(map(int,input().split()))

A = sorted(A)
B = sorted(B,reverse = True)

for i in range(K):

  if A[i] < B[i]:
    A[i],B[i] = B[i],A[i]

  else:
    break

print(sum(A))

5 3
1 2 5 4 3
5 5 6 6 5
26