In [4]:
# 01. 거스름돈

coins = [500,100,50,10]

n = int(input())
count = 0

for i in coins:
  c, d = divmod(n,i)

  count += c
  n = d

print(count)

1260
2 260
2 60
1 10
1 0
6

In [24]:
# 02. 큰 수의 법칙

def big_Num(N,M,K,numbers):
  sum = 0
  count = 0
  numbers = sorted(numbers, reverse=True)


  first = numbers[0]
  second = numbers[1]

  while count != M:
    if (count % K == 0) and (count!=0) :
      sum += second
    else:
      sum += first

    count += 1

  return sum


N,M,K = map(int,input().split())
numbers = map(int,input().split())

print(big_Num(N,M,K,numbers))

5 8 3
2 4 5 4 6
46

In [29]:
# 03. 숫자 카드 게임

N,M = map(int,input().split())
matrix = []

for i in range(N):
  matrix.append(list(map(int,input().split())))


big = 0
for cards in matrix:
  if big < min(cards):
    big = min(cards)

print(big)

2 4
7 3 1 8
3 3 3 4
3

In [35]:
# 04. 1이 될 때까지

N,K = map(int,input().split())

count = 0

while True:
  if N % K != 0:
    N -= 1
    count+=1
  else:
    break


while True:
  if N != 1:
    N /= K
    count+=1
  else:
    break


print(count)

17 4
3